*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
  }
  
  .top{
    margin:1rem;
  }
  .search_bar{
    height: 40px;
  }

  #city{
    padding: 0.4rem;
    width: 70%;
    border: none;
    border-radius: 5px;
    background-color: #fff;
  }

  #submit{
height: 25px;
width: 30px;
background-color:#9dcea2 ;
border: none;
  }
  .container {
    padding: 20px;
    width: 300px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #9dcea2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  .middle_part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
padding: 1rem 0 1rem 0;
}
